body {
    font-family: 'Roboto';
    padding: 0;
    margin: 0
}

h1 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
}

.first {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    padding-left: 200px;
    gap: 30px;
    padding-bottom: 70px;
}

img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary, ul {
    font-size: 18px;
    color: #E5E7EB;
}

.first button {
    background-color: #3882F6;
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    border-color: #3882F6;
}

.left-content {
    max-width: 450px;
}